
:root{
   --PrimaryColor: hsl(199, 100%, 33%);
   --SecondaryColor: hsl(187, 85%, 43%);
   --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%),hsl(199, 43%, 33%));
   --whiteColor: hsl(0, 0%, 100%);
   --blackColor: hsl(201, 33%, 16%);
   --textColor: hsl(240, 4%, 36%);
   --whiteColorDeam: hsl(0, 0%, 93%);
   --greyText: rgb(190, 190, 190);
   --inputColor: rgb(239, 239, 239);
   --bodyColor: rgb(200, 240, 246);
   --cardBG: rgb(225, 225, 235);
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: hsl(0, 0%, 100%);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
  

     .logo{  
        color:  hsl(201, 33%, 16%);  /*Travel and all belong to this block b*/
        font-weight: 60;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon{
           font-size: 25px;
           color: hsl(199, 100%, 33%);
           transform: translateY(5px);  
             }
        }

   @media screen and (max-width: 769px) {
      .navBar{
         position: absolute;
         background: hsl(0, 0%, 100%);
         height: max-content;
         border-radius: 1rem;
         top: -100rem;                              //the container which shows Home packages etc
         left: 45%;
         transform: translate(-50px);
         width: 30%;
         z-index: 2000;
         box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
         transition: .3s ease-in-out;    
      

      .navLists{
         flex-direction: column;
         justify-content: center;
         width: 100%;
         margin: auto;
         padding: .5rem 0;
     

      .navItem{
        padding: .75rem 0;
      
         .navLink{
          color: hsl(240, 4%, 36%);
          font-size: .9rem;
          font-weight: 600;
          &:hover{
            color: hsl(199, 100%, 33%);  
         }
      }

      .btn{
        margin-top: 1rem;  


        a{
          font-size: 120%;
          font-weight: 600;
          color: hsl(0, 0%, 100%);  
        }
      }
     }
    }

       .closeNavbar{
         position: absolute;
         top: 0.5rem;
         right: 0rem;
          color: hsl(199, 100%, 33%);    //cross symbol
            &:hover{
         color: hsl(187, 85%, 43%); 
           }
     
        }
     } 

        .activeNavbar{
          top: 100px;

           }

         .toggleNavbar{
            .icon{
             font-size: 25px;
             color: hsl(199, 100%, 33%);
               }                                        //menu button
             &:hover.icon{
                color:hsl(187, 85%, 43%);
                  }
              }

      }
      }


     


@media screen and (min-width: 769px){
    .toggleNavbar, .closeNavbar{
      display: none;
    }

    .header{
      padding: 1.5rem 2rem;


      .navBar{
            .navLists{
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: row;


               .navItem{
                  .navLink{
                  color: hsl(240, 4%, 36%);
                  padding: 0 0.45rem;
                  font-size: 0.9rem;
                  font-weight: 500;


                  &:hover{
                     color: hsl(199, 100%, 33%);
                  }
               }
            }
         
            .btn{
               margin-left: 1rem;

               a{
                  color: var(--whiteColor);
                  font-weight: 500;
               }
             }
           }
         }
       }
  }


@media screen and (min-width: 960px){
   .header{
      .navBar{
         .navLists{
            .navItem{
               padding: 0 0.7rem;
            }
         }
      }
   }
}

@media screen and (min-width: 1240px){
   .header{
        padding: 1rem 8.5rem;
      }
}